# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cloud2021-workplace\cloud2021-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
